In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import tushare as ts
import openpyxl as oxl
import os
from collections import OrderedDict
import datetime
import json


def load_from_local():
    
    with open('__ HKEX __ HKEXnews __.html','r',encoding="utf-8") as f:
        return f.read()

def get_first_part():

    temp_html = soup.find("table",{"id":"Table5"})
    temp_html = temp_html.find_all('td',{"class":"arial12black"})

    first_dict = {}
    temp_string = temp_html[1].get_text().strip()
    temp_string = datetime.datetime.strptime(temp_string,"%d/%m/%Y")
    temp_string = temp_string.strftime("%Y-%m-%d")
    first_dict['last_date'] = temp_string
    first_dict['stock_code'] = temp_html[3].get_text().strip()
    first_dict['stock_name'] = temp_html[5].get_text().strip()

    return first_dict

def get_second_part():

    temp_html = soup.find("div",{"id":{"pnlResultSummary"}})
    temp_html = temp_html.find_all("span",{"class":"mobilezoom"})

    second_dict = {}
    second_dict['hold_volumn'] = temp_html[0].get_text().strip()
    second_dict['people_number'] = temp_html[1].get_text().strip()
    second_dict['hold_precent'] = temp_html[2].get_text().strip()
    second_dict['all_volumn'] = temp_html[6].get_text().strip()

    return second_dict

def get_third_part(first_dict):

    temp_html = soup.find("table",{"id":{"participantShareholdingList"}})
    temp_html = temp_html.find_all('tr')

    row_number = len(temp_html)
    col_number = len(temp_html[0].find_all('td'))

    d = {}
    for i in range(col_number):
        d[i] = []

    for i in range(1,row_number):
        temp_tr = temp_html[i]
        temp_td = temp_tr.find_all('td')
    
        if len(temp_td) !=col_number:
            continue
        
        for j in range(col_number):
            temp_string = temp_td[j].get_text().strip()
            d[j].append(temp_string)

    last_pd = pd.DataFrame(d)
    
    last_dict = {}
    for i in range(len(last_pd)):
        last_dict[last_pd.iat[i,0]] = last_pd.iat[i,1]

    name_dict.update(last_dict)

    new_pd = pd.DataFrame(last_pd[3])
    new_pd = new_pd.T
    new_pd.columns = last_pd[0]

    last_date = first_dict['last_date']
    time_span = pd.Timestamp(last_date)
    new_pd.index = [time_span]

    temp_string = datetime.datetime.strptime(last_date,'%Y-%m-%d')
    end_date = temp_string.date()
    start_date = end_date - datetime.timedelta(10)

    temp_df = ts.get_k_data('601888',start=start_date.isoformat(),end=end_date.isoformat())

    if temp_df.empty:
        #  close_data[last_date] = list(close_data.values())[-1]
        close_data[str(time_span)] = 0 
    else:
        close_data[str(time_span)] = temp_df.iat[-1,2]

    return new_pd

def save_to_excel(first_dict,second_dict,merge_pd):

    wb = oxl.Workbook()
    ws = wb.create_sheet(index=0,title='oxl-sheet')
    
    ws.cell(row=1,column=1).value = '持股日期'
    ws.cell(row=1,column=2).value = first_dict['last_date']
    ws.cell(row=1,column=3).value = '股票代码'
    ws.cell(row=1,column=4).value = first_dict['stock_code']
    ws.cell(row=1,column=5).value = '股票名称'
    ws.cell(row=1,column=6).value = first_dict['stock_name']

    ws.cell(row=3,column=1).value = '中央结算系统持股量'
    ws.cell(row=4,column=1).value = second_dict['hold_volumn']
    ws.cell(row=3,column=2).value = '参与者数目'
    ws.cell(row=4,column=2).value = second_dict['people_number']
    ws.cell(row=3,column=3).value = '总数百分比'
    ws.cell(row=4,column=3).value = second_dict['hold_precent']
    ws.cell(row=3,column=4).value = '全部持股量'
    ws.cell(row=4,column=4).value = second_dict['all_volumn']

    columns = merge_pd.columns
    index = merge_pd.index
    
    row_number = len(index)
    col_number = len(columns)

    ws.cell(row=8,column=1).value = '日期'
    ws.cell(row=8,column=2).value = '收盘价'

    for i in range(row_number):
        ws.cell(row=i+9,column=1).value = str(index[i])[0:10]
        ws.cell(row=i+9,column=2).value = close_data.get(str(index[i]),0)

    for i in range(col_number):
        ws.cell(row=8,column=i+3).value = columns[i]
        ws.cell(row=7,column=i+3).value = name_dict[columns[i]] 

    for i in range(row_number):
        for j in range(col_number):
            ws.cell(row=9+i,column=j+3).value = merge_pd.iat[i,j]

    wb.save('test.xlsx')
    print("数据已写入excel中!")

def plot_10(merge_pd):
    '''
    画前10大持仓股的曲线图
    '''
    temp_pd = merge_pd.sort_values(merge_pd.index[0],axis=1,ascendind=False)
    
    number = min(10,len(merge_pd))
    
    for i in range(number):
        pass


def save_to_config():

    first_dict = get_first_part()
    last_date = first_dict['last_date']

    if str(pd.Timestamp(last_date)) in close_data:
        print("该日期数据已经存在!")
        save_to_excel(config_dict['first_dict'],config_dict['second_dict'],pd.read_json(config_dict['old_pd'])) 
        return

    second_dict = get_second_part()
    third_pd = get_third_part(first_dict)
    merge_pd = third_pd.append(old_pd)
    merge_pd = merge_pd.sort_index(ascending=False)

    config_dict['name_dict'] = name_dict
    config_dict['close_data'] = close_data
    config_dict[last_date] = [first_dict,second_dict,third_pd.to_json()]
    config_dict['old_pd'] = merge_pd.to_json()
    config_dict['first_dict'] = first_dict
    config_dict['second_dict'] = second_dict
    config_dict['third_pd'] = third_pd.to_json()

    save_to_excel(first_dict,second_dict,merge_pd)
    
    with open('config.json','w',encoding='utf-8') as f:
        json.dump(config_dict,f)

    print('数据更新至%s!' % merge_pd.index[0])

In [32]:
    temp_html = soup.find("table",{"id":"Table5"})
    temp_html = temp_html.find_all('td',{"class":"arial12black"})

    first_dict = {}
    temp_string = temp_html[1].get_text().strip()
    temp_string = datetime.datetime.strptime(temp_string,"%d/%m/%Y")
    temp_string = temp_string.strftime("%Y-%m-%d")
    first_dict['last_date'] = temp_string
    first_dict['stock_code'] = temp_html[3].get_text().strip()
    first_dict['stock_name'] = temp_html[5].get_text().strip()

In [33]:
first_dict

{'last_date': '2018-06-20', 'stock_code': '91888', 'stock_name': '中國國旅'}

In [35]:
pd.DataFrame(first_dict,index=[])

Empty DataFrame
Columns: [last_date, stock_code, stock_name]
Index: []

In [36]:
s1 = pd.DataFrame([1,2,3])

In [37]:
s1

   0
0  1
1  2
2  3

In [39]:
config_dict = {}

In [40]:
config_dict['test'] = s1

In [41]:
import json

In [42]:
json.dumps(config_dict)

TypeError: Object of type 'DataFrame' is not JSON serializable

In [30]:
temp_df = ts.get_k_data('601888')

In [31]:
temp_df

           date    open   close    high     low    volume    code
0    2015-11-09  27.577  28.112  28.300  27.577  106314.0  601888
1    2015-11-10  27.919  27.634  27.938  27.292   53714.0  601888
2    2015-11-11  27.630  27.331  27.716  26.940   69838.0  601888
3    2015-11-12  27.302  27.528  27.818  27.239   60645.0  601888
4    2015-11-13  27.268  26.535  27.475  26.400   56899.0  601888
5    2015-11-16  25.556  26.256  26.275  25.556   60722.0  601888
6    2015-11-17  26.347  26.039  26.636  25.990   89660.0  601888
7    2015-11-18  25.986  25.913  26.198  25.711   37370.0  601888
8    2015-11-19  25.957  26.323  26.371  25.798   29893.0  601888
9    2015-11-20  26.347  26.482  26.641  26.130   36738.0  601888
10   2015-11-23  26.516  25.976  26.516  25.937   32523.0  601888
11   2015-11-24  25.846  25.542  25.933  25.311   42558.0  601888
12   2015-11-25  25.455  25.754  25.822  25.359   41963.0  601888
13   2015-11-26  25.798  25.465  25.928  25.383   59515.0  601888
14   2015-11-27  25.479  24.722  25.479  24.289   89669.0  601888
15   2015-11-30  24.732  24.101  24.848  23.527   68834.0  601888
16   2015-12-01  24.491  24.510  24.819  24.110   49106.0  601888
17   2015-12-02  24.515  25.224  25.383  24.510   52233.0  601888
18   2015-12-03  25.205  25.219  25.479  25.007   44747.0  601888
19   2015-12-04  25.238  25.561  26.024  25.238   69494.0  601888
20   2015-12-07  25.455  25.523  25.552  24.973   24279.0  601888
21   2015-12-08  25.542  26.121  26.294  25.118   65838.0  601888
22   2015-12-09  26.203  27.287  27.721  26.178  167791.0  601888
23   2015-12-10  27.326  27.499  27.712  26.950   93423.0  601888
24   2015-12-11  27.003  26.366  27.403  26.357   50908.0  601888
25   2015-12-14  26.231  27.297  27.538  26.072   56551.0  601888
26   2015-12-15  27.215  27.413  27.986  27.215   47869.0  601888
27   2015-12-16  27.413  26.661  27.577  26.521   33794.0  601888
28   2015-12-17  27.239  27.523  27.986  27.239   95139.0  601888
29   2015-12-18  27.577  28.126  28.430  27.287   64893.0  601888
..          ...     ...     ...     ...     ...       ...     ...
611  2018-05-11  60.937  60.540  61.374  59.647   68981.0  601888
612  2018-05-14  60.540  61.979  62.565  60.302  172961.0  601888
613  2018-05-15  61.979  62.455  63.011  61.026   70760.0  601888
614  2018-05-16  62.247  61.602  63.090  61.572   78342.0  601888
615  2018-05-17  61.523  60.550  62.465  60.173   95253.0  601888
616  2018-05-18  60.828  61.116  61.701  60.124   61628.0  601888
617  2018-05-21  61.691  61.800  62.733  61.572   65097.0  601888
618  2018-05-22  62.019  62.078  62.495  61.701   31131.0  601888
619  2018-05-23  62.326  61.453  63.061  60.530   78030.0  601888
620  2018-05-24  61.513  61.989  62.713  60.649   76031.0  601888
621  2018-05-25  61.017  61.850  62.316  60.858   69133.0  601888
622  2018-05-28  61.850  61.354  62.108  60.540   68655.0  601888
623  2018-05-29  61.126  63.587  64.758  61.126  158563.0  601888
624  2018-05-30  62.862  63.160  64.003  62.078  106139.0  601888
625  2018-05-31  63.477  67.129  67.328  63.210  171102.0  601888
626  2018-06-01  67.080  66.960  67.655  65.938  109178.0  601888
627  2018-06-04  67.278  66.851  67.774  65.790  103940.0  601888
628  2018-06-05  67.000  67.268  67.774  66.008   86275.0  601888
629  2018-06-06  67.080  66.315  67.506  66.286   77032.0  601888
630  2018-06-07  66.564  66.008  68.072  65.075  111900.0  601888
631  2018-06-08  65.859  65.670  65.889  64.698   95159.0  601888
632  2018-06-11  65.492  63.160  66.246  62.495  148193.0  601888
633  2018-06-12  63.408  65.363  65.839  62.872  105093.0  601888
634  2018-06-13  65.750  66.306  67.447  65.313   95513.0  601888
635  2018-06-14  66.048  66.355  66.960  65.601   62067.0  601888
636  2018-06-15  66.435  65.889  66.831  64.599   82175.0  601888
637  2018-06-19  65.303  64.877  66.564  63.279  191948.0  601888
638  2018-06-20  64.698  64.946  65.482  63.448  100710.0  601888
639  2018-06-21  65.274  67.209  69.015  64.966  160648.0  601888
640  2018-06-22  66.960  66.960  68.580  65.810   98073.0  601888

[641 rows x 7 columns]

In [16]:
temp_html = soup.find("table",{"id":{"participantShareholdingList"}})
temp_html = temp_html.find_all('tr')

In [18]:
temp_html

[<tr style="vertical-align: top;">
 <td class="arial12black" nowrap="nowrap" onclick="Re_sort('ParticipantID')" style="cursor: pointer; width: 10%;">
 <img height="10" src="../../image/spacer.gif" width="10"/>參與者編號
                                         <img src="images/up.gif"/>
 </td>
 <td class="arial12black" nowrap="nowrap" onclick="Re_sort('ParticipantName')" style="cursor: pointer; width: 33%;">
                                         中央結算系統參與者名稱<br/>(*即願意披露的投資者戶口持有人)
                                         <img src="images/up.gif"/>
 </td>
 <td class="arial12black" nowrap="nowrap">
                                         地址
                                     </td>
 <td class="arial12black" nowrap="nowrap" onclick="Re_sort('Shareholding')" style="cursor: pointer; width: 15%; text-align: right;">
                                         持股量
                                         <img src="images/down.gif"/>
 </td>
 <td class="arial12black" style="text-align: right; width: 15%;">
                                         佔於上交所/深交所上市<br/>及交易的A股總數的百分比
                                     </td>
 </tr>, <tr>
 <td class="arial12black" colspan="5" nowrap="nowrap" style="background-color: #666666; width: 100%; height: 1px; padding: 0px;"></td>
 </tr>, <tr>
 <td colspan="5" style="padding: 0px; height: 10px;"></td>
 </tr>, <tr class="row0">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>C00019
                                             </td>
 <td class="arial12black" valign="top">
                                                 香港上海匯豐銀行有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 HSBC WEALTH BUSINESS SERVICES 8/F TOWER 2 &amp; 3 HSBC CENTRE 1 SHAM MONG ROAD KOWLOON
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 58,891,639<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 3.01%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row1">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>C00039
                                             </td>
 <td class="arial12black" valign="top">
                                                 渣打銀行(香港)有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 SECURITIES SERVICES 15/F STANDARD CHARTERED TOWER 388 KWUN TONG ROAD KWUN TONG KOWLOON
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 37,543,481<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 1.92%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row0">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>C00010
                                             </td>
 <td class="arial12black" valign="top">
                                                 花旗銀行
                                             </td>
 <td class="arial12black" valign="top">
                                                 9/F CITI TOWER ONE BAY EAST 83 HOI BUN ROAD KWUN TONG KOWLOON
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 28,092,781<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 1.43%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row1">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>C00100
                                             </td>
 <td class="arial12black" valign="top">
                                                 JPMORGAN CHASE BANK, NATIONAL ASSOCIATION
                                             </td>
 <td class="arial12black" valign="top">
                                                 48/F ONE ISLAND EAST 18 WESTLANDS ROAD QUARRY BAY HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 24,135,220<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 1.23%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row0">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01161
                                             </td>
 <td class="arial12black" valign="top">
                                                 UBS SECURITIES HONG KONG LTD
                                             </td>
 <td class="arial12black" valign="top">
                                                 42/F ONE EXCHANGE SQUARE 8 CONNAUGHT PLACE CENTRAL HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 11,384,139<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.58%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row1">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01110
                                             </td>
 <td class="arial12black" valign="top">
                                                 J.P. MORGAN BROKING (HONG KONG) LTD
                                             </td>
 <td class="arial12black" valign="top">
                                                 48/F ONE ISLAND EAST 18 WESTLANDS ROAD ISLAND EAST HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 10,639,173<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.54%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row0">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>C00093
                                             </td>
 <td class="arial12black" valign="top">
                                                 BNP PARIBAS SECURITIES SERVICES
                                             </td>
 <td class="arial12black" valign="top">
                                                 21/F PCCW TOWER TAIKOO PLACE 979 KING'S ROAD QUARRY BAY HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 9,281,884<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.47%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row1">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01565
                                             </td>
 <td class="arial12black" valign="top">
                                                 國泰君安證券(香港)有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 27/F GRAND MILLENNIUM PLAZA 181 QUEEN'S ROAD CENTRAL HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 8,684,492<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.44%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row0">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01654
                                             </td>
 <td class="arial12black" valign="top">
                                                 中國國際金融香港證券有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 29/F ONE INTERNATIONAL FINANCE CENTRE 1 HARBOUR VIEW STREET CENTRAL HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 7,012,025<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.35%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row1">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01491
                                             </td>
 <td class="arial12black" valign="top">
                                                 CREDIT SUISSE SECURITIES (HONG KONG) LTD
                                             </td>
 <td class="arial12black" valign="top">
                                                 LEVEL 88 INTERNATIONAL COMMERCE CENTRE 1 AUSTIN ROAD WEST KOWLOON
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 5,166,384<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.26%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row0">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01274
                                             </td>
 <td class="arial12black" valign="top">
                                                 MORGAN STANLEY HONG KONG SECURITIES LTD
                                             </td>
 <td class="arial12black" valign="top">
                                                 46/F INTERNATIONAL COMMERCE CENTRE 1 AUSTIN ROAD WEST KOWLOON
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 4,069,891<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.20%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row1">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01224
                                             </td>
 <td class="arial12black" valign="top">
                                                 MLFE LTD
                                             </td>
 <td class="arial12black" valign="top">
                                                 C/O BANK OF AMERICA MERRILL LYNCH 38/F CHEUNG KONG CENTER 2 QUEEN'S ROAD CENTRAL CENTRAL HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 3,020,653<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.15%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row0">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01130
                                             </td>
 <td class="arial12black" valign="top">
                                                 中銀國際證券有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 22/F GRAND MILLENNIUM PLAZA 181 QUEEN'S ROAD CENTRAL HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 774,431<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.03%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row1">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01121
                                             </td>
 <td class="arial12black" valign="top">
                                                 法國興業證券(香港)有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 38/F 3 PACIFIC PLACE 1 QUEEN'S ROAD EAST HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 526,444<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.02%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row0">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01323
                                             </td>
 <td class="arial12black" valign="top">
                                                 德意志證券亞洲有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 52/F INTERNATIONAL COMMERCE CENTRE 1 AUSTIN ROAD WEST KOWLOON
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 494,840<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.02%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row1">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>C00033
                                             </td>
 <td class="arial12black" valign="top">
                                                 中國銀行(香港)有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 11/F BANK OF CHINA CENTRE OLYMPIAN CITY 11 HOI FAI ROAD WEST KOWLOON
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 467,809<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.02%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row0">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01590
                                             </td>
 <td class="arial12black" valign="top">
                                                 盈透證券香港有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 SUITE 1512 TWO PACIFIC PLACE 88 QUEENSWAY HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 449,504<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.02%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row1">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01143
                                             </td>
 <td class="arial12black" valign="top">
                                                 海通國際證券有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 22/F LI PO CHUN CHAMBERS 189 DES VOEUX ROAD CENTRAL HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 442,664<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 0.02%<img alt="space" height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 </tr>, <tr class="row0">
 <td class="arial12black" nowrap="nowrap" valign="top">
 <img height="10" src="../../image/spacer.gif" width="10"/>B01610
                                             </td>
 <td class="arial12black" valign="top">
                                                 凱基證券亞洲有限公司
                                             </td>
 <td class="arial12black" valign="top">
                                                 41/F CENTRAL PLAZA 18 HARBOUR ROAD WANCHAI HONG KONG
                                             </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">
                                                 375,100<img height="10" src="../../image/spacer.gif" width="10"/>
 </td>
 <td class="arial12black" nowrap="nowrap" style="text-align: right;" valign="top">

In [17]:
row_number = len(temp_html)
col_number = len(temp_html[0].find_all('td'))

In [19]:
    d = {}
    for i in range(col_number):
        d[i] = []

In [20]:
 for i in range(1,row_number):
    temp_tr = temp_html[i]
    temp_td = temp_tr.find_all('td')
    
    if len(temp_td) !=col_number:
        continue
        
    for j in range(col_number):
        temp_string = temp_td[j].get_text().strip()
        d[j].append(temp_string)

In [21]:
d

{0: ['C00019',
  'C00039',
  'C00010',
  'C00100',
  'B01161',
  'B01110',
  'C00093',
  'B01565',
  'B01654',
  'B01491',
  'B01274',
  'B01224',
  'B01130',
  'B01121',
  'B01323',
  'C00033',
  'B01590',
  'B01143',
  'B01610',
  'B01762',
  'B01905',
  'B01829',
  'B01138',
  'B01858',
  'B01890',
  'B01943',
  'B01842',
  'B01497',
  'B01355',
  'B01826',
  'B01451',
  'B01115',
  'B01727',
  'B01086',
  'B01284',
  'B01556',
  'B01929',
  'B01668',
  'B01773',
  'B01228',
  'B01866',
  'B01345',
  'B01971',
  'B01372',
  'B01825',
  'B01947',
  'C00036',
  'B01353',
  'B01695',
  'C00042',
  'B01818',
  'B01967'],
 1: ['香港上海匯豐銀行有限公司',
  '渣打銀行(香港)有限公司',
  '花旗銀行',
  'JPMORGAN CHASE BANK, NATIONAL ASSOCIATION',
  'UBS SECURITIES HONG KONG LTD',
  'J.P. MORGAN BROKING (HONG KONG) LTD',
  'BNP PARIBAS SECURITIES SERVICES',
  '國泰君安證券(香港)有限公司',
  '中國國際金融香港證券有限公司',
  'CREDIT SUISSE SECURITIES (HONG KONG) LTD',
  'MORGAN STANLEY HONG KONG SECURITIES LTD',
  'MLFE LTD',
  '中銀國際證券有限公司',
  '法國興業證券(香港)有限公司',
  '德意志證券亞洲有限公司',
  '中國銀行(香港)有限公司',
  '盈透證券香港有限公司',
  '海通國際證券有限公司',
  '凱基證券亞洲有限公司',
  '星展唯高達香港有限公司',
  '安信國際證券(香港)有限公司',
  '華泰金融控股(香港)有限公司',
  '中信里昂證券有限公司',
  '元大證券(香港)有限公司',
  '國信證券(香港)經紀有限公司',
  '寶生證券及期貨有限公司',
  '交銀國際證券有限公司',
  '永豐金證券(亞洲)有限公司',
  '中國光大證券(香港)有限公司',
  '廣發証券(香港)經紀有限公司',
  '高盛(亞洲)證券有限公司',
  '申萬宏源證券(香港)有限公司',
  '工銀亞洲証券有限公司',
  '新鴻基投資服務有限公司',
  '恒生證券有限公司',
  '六福證券(香港)有限公司',
  '中國銀河國際證券(香港)有限公司',
  '耀才證券國際(香港)有限公司',
  '東洋証券亞洲有限公司',
  '中信証券經紀(香港)有限公司',
  '工銀國際證券有限公司',
  '輝立証券(香港)有限公司',
  '橫華國際証券有限公司',
  '第一金和昇證券有限公司',
  '國元証券經紀(香港)有限公司',
  '富邦證券(香港)有限公司',
  '中國建設銀行(亞洲)股份有限公司',
  '大華繼顯(香港)有限公司',
  '大新證券有限公司',
  '永隆銀行有限公司',
  '一通投資者有限公司',
  '雲鋒證券有限公司'],
 2: ['HSBC WEALTH BUSINESS SERVICES 8/F TOWER 2 & 3 HSBC CENTRE 1 SHAM MONG ROAD KOWLOON',
  'SECURITIES SERVICES 15/F STANDARD CHARTERED TOWER 388 KWUN TONG ROAD KWUN TONG KOWLOON',
  '9/F CITI TOWER ONE BAY EAST 83 HOI BUN ROAD KWUN TONG KOWLOON',
  '48/F ONE ISLAND EAST 18 WESTLANDS ROAD QUARRY BAY HONG KONG',
  '42/F ONE EXCHANGE SQUARE 8 CONNAUGHT PLACE CENTRAL HONG KONG',
  '48/F ONE ISLAND EAST 18 WESTLANDS ROAD ISLAND EAST HONG KONG',
  "21/F PCCW TOWER TAIKOO PLACE 979 KING'S ROAD QUARRY BAY HONG KONG",
  "27/F GRAND MILLENNIUM PLAZA 181 QUEEN'S ROAD CENTRAL HONG KONG",
  '29/F ONE INTERNATIONAL FINANCE CENTRE 1 HARBOUR VIEW STREET CENTRAL HONG KONG',
  'LEVEL 88 INTERNATIONAL COMMERCE CENTRE 1 AUSTIN ROAD WEST KOWLOON',
  '46/F INTERNATIONAL COMMERCE CENTRE 1 AUSTIN ROAD WEST KOWLOON',
  "C/O BANK OF AMERICA MERRILL LYNCH 38/F CHEUNG KONG CENTER 2 QUEEN'S ROAD CENTRAL CENTRAL HONG KONG",
  "22/F GRAND MILLENNIUM PLAZA 181 QUEEN'S ROAD CENTRAL HONG KONG",
  "38/F 3 PACIFIC PLACE 1 QUEEN'S ROAD EAST HONG KONG",
  '52/F INTERNATIONAL COMMERCE CENTRE 1 AUSTIN ROAD WEST KOWLOON',
  '11/F BANK OF CHINA CENTRE OLYMPIAN CITY 11 HOI FAI ROAD WEST KOWLOON',
  'SUITE 1512 TWO PACIFIC PLACE 88 QUEENSWAY HONG KONG',
  '22/F LI PO CHUN CHAMBERS 189 DES VOEUX ROAD CENTRAL HONG KONG',
  '41/F CENTRAL PLAZA 18 HARBOUR ROAD WANCHAI HONG KONG',
  '18/F MAN YEE BUILDING 68 DES VOEUX ROAD CENTRAL HONG KONG',
  '39/F ONE EXCHANGE SQUARE CENTRAL HONG KONG',
  "RM 5808-5812 58/F THE CENTER 99 QUEEN'S ROAD CENTRAL HONG KONG",
  '18/F ONE PACIFIC PLACE 88 QUEENSWAY HONG KONG',
  '23/F TOWER 1 ADMIRALTY CENTRE 18 HARCOURT ROAD ADMIRALTY HONG KONG',
  '42/F TWO INTERNATIONAL FINANCE CENTRE 8 FINANCE STREET CENTRAL HONG KONG',
  '1/F WING ON HOUSE 71 DES VOEUX ROAD CENTRAL HONG KONG',
  '11/F MAN YEE BUILDING 68 DES VOEUX ROAD CENTRAL HONG KONG',
  '21/F ONE PEKING 1 PEKING ROAD TSIMSHATSUI KOWLOON',
  '24/F LEE GARDEN ONE 33 HYSAN AVENUE CAUSEWAY BAY HONG KONG',
  '29/F-30/F LI PO CHUN CHAMBERS 189 DES VOEUX ROAD CENTRAL HONG KONG',
  "68TH FLOOR CHEUNG KONG CENTER 2 QUEEN'S ROAD CENTRAL HONG KONG",
  'LEVEL 19 28 HENNESSY ROAD HONG KONG',
  'LEVEL 16 TOWER 1 MILLENNIUM CITY 1 388 KWUN TONG ROAD KWUN TONG KOWLOON',
  '42/F LEE GARDEN ONE 33 HYSAN AVENUE CAUSEWAY BAY HONG KONG',
  '16/F HANG SENG 113 113 ARGYLE STREET MONGKOK KOWLOON',
  "UNITS 2201-2207 & 2213-2214 22/F COSCO TOWER 183 QUEEN'S ROAD CENTRAL HONG KONG",
  '20/F WING ON CENTRE 111 CONNAUGHT ROAD CENTRAL HONG KONG',
  '10/F WING ON HOUSE 71 DES VOEUX ROAD CENTRAL CENTRAL HONG KONG',
  "UNIT 502 5/F HENLEY BUILDING 5 QUEEN'S ROAD CENTRAL HONG KONG",
  '26/F CITIC TOWER 1 TIM MEI AVENUE CENTRAL HONG KONG',
  '37/F ICBC TOWER 3 GARDEN ROAD HONG KONG',
  '11/F UNITED CENTRE 95 QUEENSWAY HONG KONG',
  '9/F & 16/F KA WAH BANK CENTRE 232 DES VOEUX ROAD CENTRAL HONG KONG',
  'RM 1003 10/F INFINITUS PLAZA 199 DES VOEUX ROAD CENTRAL HONG KONG',
  '22/F CCB TOWER 3 CONNAUGHT ROAD CENTRAL CENTRAL HONG KONG',
  'UNIT B 41/F @CONVOY 169 ELECTRIC ROAD HONG KONG',
  '20/F CCB CENTRE 18 WANG CHIU ROAD KOWLOON BAY KOWLOON',
  "RM 1501 AON CHINA BUILDING 29 QUEEN'S ROAD CENTRAL HONG KONG",
  'RM 2403 24/F EVERBRIGHT CENTRE 108 GLOUCESTER ROAD WANCHAI HONG KONG',
  'RM 1207-1209 12/F WING LUNG BANK CENTRE 636 NATHAN ROAD KOWLOON',
  'SUITES 3208-3211 32/F TOWER TWO TIMES SQUARE 1 MATHESON STREET CAUSEWAY BAY HONG KONG',
  'SUITES 3201-3204 ONE EXCHANGE SQUARE 8 CONNAUGHT ROAD CENTRAL HONG KONG'],
 3: ['58,891,639',
  '37,543,481',
  '28,092,781',
  '24,135,220',
  '11,384,139',
  '10,639,173',
  '9,281,884',
  '8,684,492',
  '7,012,025',
  '5,166,384',
  '4,069,891',
  '3,020,653',
  '774,431',
  '526,444',
  '494,840',
  '467,809',
  '449,504',
  '442,664',
  '375,100',
  '325,700',
  '240,700',
  '220,000',
  '193,325',
  '163,300',
  '161,012',
  '111,600',
  '102,200',
  '80,500',
  '50,200',
  '48,000',
  '45,700',
  '34,400',
  '31,300',
  '25,400',
  '24,000',
  '20,000',
  '20,000',
  '17,000',
  '16,100',
  '15,500',
  '15,000',
  '6,900',
  '3,200',
  '3,000',
  '2,000',
  '1,700',
  '1,500',
  '1,100',
  '1,000',
  '1,000',
  '100',
  '100'],
 4: ['3.01%',
  '1.92%',
  '1.43%',
  '1.23%',
  '0.58%',
  '0.54%',
  '0.47%',
  '0.44%',
  '0.35%',
  '0.26%',
  '0.20%',
  '0.15%',
  '0.03%',
  '0.02%',
  '0.02%',
  '0.02%',
  '0.02%',
  '0.02%',
  '0.01%',
  '0.01%',
  '0.01%',
  '0.01%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%',
  '0.00%']}

In [22]:
last_pd = pd.DataFrame(d)

In [23]:
last_pd

,0,1,2,3,4
0,C00019,香港上海匯豐銀行有限公司,HSBC WEALTH BUSINESS SERVICES 8/F TOWER 2 & 3 ...,"58,891,639",3.01%
1,C00039,渣打銀行(香港)有限公司,SECURITIES SERVICES 15/F STANDARD CHARTERED TO...,"37,543,481",1.92%
2,C00010,花旗銀行,9/F CITI TOWER ONE BAY EAST 83 HOI BUN ROAD KW...,"28,092,781",1.43%
3,C00100,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",48/F ONE ISLAND EAST 18 WESTLANDS ROAD QUARRY ...,"24,135,220",1.23%
4,B01161,UBS SECURITIES HONG KONG LTD,42/F ONE EXCHANGE SQUARE 8 CONNAUGHT PLACE CEN...,"11,384,139",0.58%
5,B01110,J.P. MORGAN BROKING (HONG KONG) LTD,48/F ONE ISLAND EAST 18 WESTLANDS ROAD ISLAND ...,"10,639,173",0.54%
6,C00093,BNP PARIBAS SECURITIES SERVICES,21/F PCCW TOWER TAIKOO PLACE 979 KING'S ROAD Q...,"9,281,884",0.47%
7,B01565,國泰君安證券(香港)有限公司,27/F GRAND MILLENNIUM PLAZA 181 QUEEN'S ROAD C...,"8,684,492",0.44%
8,B01654,中國國際金融香港證券有限公司,29/F ONE INTERNATIONAL FINANCE CENTRE 1 HARBOU...,"7,012,025",0.35%
9,B01491,CREDIT SUISSE SECURITIES (HONG KONG) LTD,LEVEL 88 INTERNATIONAL COMMERCE CENTRE 1 AUSTI...,"5,166,384",0.26%
10,B01274,MORGAN STANLEY HONG KONG SECURITIES LTD,46/F INTERNATIONAL COMMERCE CENTRE 1 AUSTIN RO...,"4,069,891",0.20%
11,B01224,MLFE LTD,C/O BANK OF AMERICA MERRILL LYNCH 38/F CHEUNG ...,"3,020,653",0.15%
12,B01130,中銀國際證券有限公司,22/F GRAND MILLENNIUM PLAZA 181 QUEEN'S ROAD C...,"774,431",0.03%
13,B01121,法國興業證券(香港)有限公司,38/F 3 PACIFIC PLACE 1 QUEEN'S ROAD EAST HONG ...,"526,444",0.02%
14,B01323,德意志證券亞洲有限公司,52/F INTERNATIONAL COMMERCE CENTRE 1 AUSTIN RO...,"494,840",0.02%
15,C00033,中國銀行(香港)有限公司,11/F BANK OF CHINA CENTRE OLYMPIAN CITY 11 HOI...,"467,809",0.02%
16,B01590,盈透證券香港有限公司,SUITE 1512 TWO PACIFIC PLACE 88 QUEENSWAY HONG...,"449,504",0.02%
17,B01143,海通國際證券有限公司,22/F LI PO CHUN CHAMBERS 189 DES VOEUX ROAD CE...,"442,664",0.02%
18,B01610,凱基證券亞洲有限公司,41/F CENTRAL PLAZA 18 HARBOUR ROAD WANCHAI HON...,"375,100",0.01%
19,B01762,星展唯高達香港有限公司,18/F MAN YEE BUILDING 68 DES VOEUX ROAD CENTRA...,"325,700",0.01%
20,B01905,安信國際證券(香港)有限公司,39/F ONE EXCHANGE SQUARE CENTRAL HONG KONG,"240,700",0.01%
21,B01829,華泰金融控股(香港)有限公司,RM 5808-5812 58/F THE CENTER 99 QUEEN'S ROAD C...,"220,000",0.01%
22,B01138,中信里昂證券有限公司,18/F ONE PACIFIC PLACE 88 QUEENSWAY HONG KONG,"193,325",0.00%
23,B01858,元大證券(香港)有限公司,23/F TOWER 1 ADMIRALTY CENTRE 18 HARCOURT ROAD...,"163,300",0.00%
24,B01890,國信證券(香港)經紀有限公司,42/F TWO INTERNATIONAL FINANCE CENTRE 8 FINANC...,"161,012",0.00%
25,B01943,寶生證券及期貨有限公司,1/F WING ON HOUSE 71 DES VOEUX ROAD CENTRAL HO...,"111,600",0.00%
26,B01842,交銀國際證券有限公司,11/F MAN YEE BUILDING 68 DES VOEUX ROAD CENTRA...,"102,200",0.00%
27,B01497,永豐金證券(亞洲)有限公司,21/F ONE PEKING 1 PEKING ROAD TSIMSHATSUI KOWLOON,"80,500",0.00%
28,B01355,中國光大證券(香港)有限公司,24/F LEE GARDEN ONE 33 HYSAN AVENUE CAUSEWAY B...,"50,200",0.00%
29,B01826,廣發証券(香港)經紀有限公司,29/F-30/F LI PO CHUN CHAMBERS 189 DES VOEUX RO...,"48,000",0.00%
30,B01451,高盛(亞洲)證券有限公司,68TH FLOOR CHEUNG KONG CENTER 2 QUEEN'S ROAD C...,"45,700",0.00%
31,B01115,申萬宏源證券(香港)有限公司,LEVEL 19 28 HENNESSY ROAD HONG KONG,"34,400",0.00%
32,B01727,工銀亞洲証券有限公司,LEVEL 16 TOWER 1 MILLENNIUM CITY 1 388 KWUN TO...,"31,300",0.00%
33,B01086,新鴻基投資服務有限公司,42/F LEE GARDEN ONE 33 HYSAN AVENUE CAUSEWAY B...,"25,400",0.00%
34,B01284,恒生證券有限公司,16/F HANG SENG 113 113 ARGYLE STREET MONGKOK K...,"24,000",0.00%
35,B01556,六福證券(香港)有限公司,UNITS 2201-2207 & 2213-2214 22/F COSCO TOWER 1...,"20,000",0.00%
36,B01929,中國銀河國際證券(香港)有限公司,20/F WING ON CENTRE 111 CONNAUGHT ROAD CENTRAL...,"20,000",0.00%
37,B01668,耀才證券國際(香港)有限公司,10/F WING ON HOUSE 71 DES VOEUX ROAD CENTRAL C...,"17,000",0.00%
38,B01773,東洋証券亞洲有限公司,UNIT 502 5/F HENLEY BUILDING 5 QUEEN'S ROAD CE...,"16,100",0.00%
39,B01228,中信証券經紀(香港)有限公司,26/F CITIC TOWER 1 TIM MEI AVENUE CENTRAL HONG...,"15,500",0.00%
40,B01866,工銀國際證券有限公司,37/F ICBC TOWER 3 GARDEN ROAD HONG KONG,"15,000",0.00%
41,B01345,輝立証券(香港)有限公司,11/F UNITED CENTRE 95 QUEENSWAY HONG KONG,"6,900",0.00%
42,B01971,橫華國際証券有限公司,9/F & 16/F KA WAH BANK CENTRE 232 DES VOEUX RO...,"3,200",0.00%
43,B01372,第一金和昇證券有限公司,RM 1003 10/F INFINITUS PLAZA 199 DES VOEUX ROA...,"3,000",0.00%
44,B01825,國元証券經紀(香港)有限公司,22/F CCB TOWER 3 CONNAUGHT ROAD CENTRAL CENTRA...,"2,000",0.00%
45,B01947,富邦證券(香港)有限公司,UNIT B 41/F @CONVOY 169 ELECTRIC ROAD HONG KONG,"1,700",0.00%
46,C00036,中國建設銀行(亞洲)股份有限公司,20/F CCB CENTRE 18 WANG CHIU ROAD KOWLOON BAY ...,"1,500",0.00%
47,B01353,大華繼顯(香港)有限公司,RM 1501 AON CHINA BUILDING 29 QUEEN'S ROAD CEN...,"1,100",0.00%
48,B01695,大新證券有限公司,RM 2403 24/F EVERBRIGHT CENTRE 108 GLOUCESTER ...,"1,000",0.00%
49,C00042,永隆銀行有限公司,RM 1207-1209 12/F WING LUNG BANK CENTRE 636 NA...,"1,000",0.00%
50,B01818,一通投資者有限公司,SUITES 3208-3211 32/F TOWER TWO TIMES SQUARE 1...,100,0.00%
51,B01967,雲鋒證券有限公司,SUITES 3201-3204 ONE EXCHANGE SQUARE 8 CONNAUG...,100,0.00%

In [25]:
    last_dict = {}
    for i in range(len(last_pd)):
        last_dict[last_pd.iat[i,0]] = last_pd.iat[i,1]

In [26]:
last_dict

{'B01086': '新鴻基投資服務有限公司',
 'B01110': 'J.P. MORGAN BROKING (HONG KONG) LTD',
 'B01115': '申萬宏源證券(香港)有限公司',
 'B01121': '法國興業證券(香港)有限公司',
 'B01130': '中銀國際證券有限公司',
 'B01138': '中信里昂證券有限公司',
 'B01143': '海通國際證券有限公司',
 'B01161': 'UBS SECURITIES HONG KONG LTD',
 'B01224': 'MLFE LTD',
 'B01228': '中信証券經紀(香港)有限公司',
 'B01274': 'MORGAN STANLEY HONG KONG SECURITIES LTD',
 'B01284': '恒生證券有限公司',
 'B01323': '德意志證券亞洲有限公司',
 'B01345': '輝立証券(香港)有限公司',
 'B01353': '大華繼顯(香港)有限公司',
 'B01355': '中國光大證券(香港)有限公司',
 'B01372': '第一金和昇證券有限公司',
 'B01451': '高盛(亞洲)證券有限公司',
 'B01491': 'CREDIT SUISSE SECURITIES (HONG KONG) LTD',
 'B01497': '永豐金證券(亞洲)有限公司',
 'B01556': '六福證券(香港)有限公司',
 'B01565': '國泰君安證券(香港)有限公司',
 'B01590': '盈透證券香港有限公司',
 'B01610': '凱基證券亞洲有限公司',
 'B01654': '中國國際金融香港證券有限公司',
 'B01668': '耀才證券國際(香港)有限公司',
 'B01695': '大新證券有限公司',
 'B01727': '工銀亞洲証券有限公司',
 'B01762': '星展唯高達香港有限公司',
 'B01773': '東洋証券亞洲有限公司',
 'B01818': '一通投資者有限公司',
 'B01825': '國元証券經紀(香港)有限公司',
 'B01826': '廣發証券(香港)經紀有限公司',
 'B01829': '華泰金融控股(香港)有限公司',
 'B01842': '交銀國際證券有限公司',
 'B01858': '元大證券(香港)有限公司',
 'B01866': '工銀國際證券有限公司',
 'B01890': '國信證券(香港)經紀有限公司',
 'B01905': '安信國際證券(香港)有限公司',
 'B01929': '中國銀河國際證券(香港)有限公司',
 'B01943': '寶生證券及期貨有限公司',
 'B01947': '富邦證券(香港)有限公司',
 'B01967': '雲鋒證券有限公司',
 'B01971': '橫華國際証券有限公司',
 'C00010': '花旗銀行',
 'C00019': '香港上海匯豐銀行有限公司',
 'C00033': '中國銀行(香港)有限公司',
 'C00036': '中國建設銀行(亞洲)股份有限公司',
 'C00039': '渣打銀行(香港)有限公司',
 'C00042': '永隆銀行有限公司',
 'C00093': 'BNP PARIBAS SECURITIES SERVICES',
 'C00100': 'JPMORGAN CHASE BANK, NATIONAL ASSOCIATION'}

In [27]:
    new_pd = pd.DataFrame(last_pd[3])
    new_pd = new_pd.T
    new_pd.columns = last_pd[0]

In [29]:
print(new_pd)

0      C00019      C00039      C00010      C00100      B01161      B01110  \
3  58,891,639  37,543,481  28,092,781  24,135,220  11,384,139  10,639,173

0     C00093     B01565     B01654     B01491  ...   B01971 B01372 B01825  \
3  9,281,884  8,684,492  7,012,025  5,166,384  ...    3,200  3,000  2,000

0 B01947 C00036 B01353 B01695 C00042 B01818 B01967
3  1,700  1,500  1,100  1,000  1,000    100    100

[1 rows x 52 columns]

In [ ]:
    d = {}
    for i in range(col_number):
        d[i] = []

    for i in range(1,row_number):
        temp_tr = temp_html[i]
        temp_td = temp_tr.find_all('td')
    
        if len(temp_td) !=col_number:
            continue
        
        for j in range(col_number):
            temp_string = temp_td[j].get_text().strip()
            d[j].append(temp_string)

    last_pd = pd.DataFrame(d)
    
    last_dict = {}
    for i in range(len(last_pd)):
        last_dict[last_pd.iat[i,0]] = last_pd.iat[i,1]

    name_dict.update(last_dict)

    new_pd = pd.DataFrame(last_pd[3])
    new_pd = new_pd.T
    new_pd.columns = last_pd[0]

In [26]:
URL = r'http://www.hkexnews.hk/sdw/search/searchsdw_c.aspx'

In [27]:
s=requests.Session()

In [28]:
r=s.get(URL)

In [6]:
r

In [18]:
r.text

'\r\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\r\n<html xmlns="http://www.w3.org/1999/xhtml">\r\n<head><title>\r\n\t:: HKEX :: HKEXnews ::\r\n</title><link href="css/hkex_css.css" rel="stylesheet" type="text/css" />\r\n    <script type="text/javascript" src="/script/hkex_scripts.js"></script>\r\n    <script type="text/javascript" src="/script/hkex_common_c.js"></script>\r\n    <script type="text/javascript" src="/script/hkex_setting_c.js"></script>\r\n    <script type="text/javascript" src="js/search_form_var_chi.js?v=20150720"></script>\r\n    <script type="text/javascript" src="js/search_form.js?v=20150720"></script>\r\n    <script type="text/javascript">\r\n        function PopUpStockList() {\r\n            shareholdingDate = $("select[id$=\'ddlShareholdingYear\']").val() + $("select[id$=\'ddlShareholdingMonth\']").val() + $("select[id$=\'ddlShareholdingDay\']").val();\r\n            window.open(\'stocklist_c.aspx?SortBy=StockCode&ShareholdingDate=\' + shareholdingDate, \'\', \'directories=no,menubar=no,scrollbars=yes,status=no,toolbar=no,height=400,width=400\');\r\n            return false;\r\n        }\r\n        function PopUpParticipantList() {\r\n            shareholdingDate = $("select[id$=\'ddlShareholdingYear\']").val() + $("select[id$=\'ddlShareholdingMonth\']").val() + $("select[id$=\'ddlShareholdingDay\']").val();\r\n            window.open(\'partlist_c.aspx?SortBy=PartID&ShareholdingDate=\' + shareholdingDate, \'\', \'directories=no,menubar=no,scrollbars=yes,status=no,toolbar=no,height=400,width=400\');\r\n            return false;\r\n        }\r\n        function Re_sort(sortBy) {\r\n            $("input[id=\'sortBy\']").val(sortBy);\r\n            $("input[id=\'btnSearch\']").click();\r\n        }\r\n        var checkShareholdingDate = true;\r\n    </script>\r\n</head>\r\n<body class="body1" style="margin: 0px; background-color: #FFFFFF; color: #333333;"\r\n    link="#333333" vlink="#336699">\r\n    <script type="text/javascript" src="/script/hkex_head_utf_c.js"></script>\r\n    <form name="form1" method="post" action="./searchsdw_c.aspx" id="form1" style="text-align: left;">\r\n<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="8rZq0Nr/r4g3FRrp4uwHdIuqj7i4ZWuZTOIsFheKWAmBOdzpejOjGIfvalY1pP0k7L/HWQLNn3b1OemyH/S8yrkT7Z+d0ngwvwFpaHcDfPuP+p0mJJNSiuZXwLoJQG4Mj1NiDcdZbiTyPkGn43d/rZyNqMAJXZw7+9DeY7mGqsHZLGEVDjc/rKXGCiBPZ56j/sGZkg==" />\r\n\r\n<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="3B50BBBD" />\r\n<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="+LVrNrDKJYr/CZCtYFySGgyGQppl2QKoGVrLd12W5vN2xPuq5pjrxI5xeheygXH70OQIvfHecjr9mDkzGs5djQRALNidvNh3zUvfsoZ9WcvgTIfs69XomAdRErwqGV3Smra+ktq7u1sHaMpWsNOTylOlcngmMckcdL/bd1aE0L28v4UvS3Aq3HW0tZL7g1ZUa8N9UYNljwVvVd8ld8z2OZnf5qBjQ7Z/jaLKNPAbqtxZ5YMNulBEaHyonjuDuy2e9ng9/g6ow5hwBGuhcyCh/0OeBUIfy/v1IY8rprpkQd8jVwRus1oHe1OdHUl0bTddhD31Z7DIrLkTyTRj1b6uQvx0llCnXpLlKVF/nNvucf5Q2lSQoJKdl1+uBYJ1wFSssPoiL4qbFXbjJDPExagwCzLQ07Eic+Ny3Y0vaR5T2FshLeOsZNoU2oHs+H5WBWBWwGzwZHu5J9DSh69pINdR5mLH15wkj8n4uC+mTKfFEYPJNGNHGNGAHlIB0Qni/p9Yi08q8Ws4o28DrPSoXPR/oeJNeJXcXNOgwkmN/BNZxYqPr0XvGGwE4O+fVaDG0b9VGbsf4zP0o1esUBSJ8x+ssQzEw5TEoLz6uiFIHXNcMZNqYjNwf9m4RvXy+mz8aeLieIFUjJM6ucD8Sm+fPzlaWWhdsxPpuN1TYYsmjukveNJ1R5MmF9KChUAiq5vNQkvaOpQ33jCXE0y2lS7ujAvCwOf11d629Y929heV1F6nVyXzMeRAIv2kWnd6C4tFkdFqJVWCbM44HzATbciBVoEAftXpOBh+0vIYyFf7L726HgkEOKaBAmK3LsU1r6b9+oIYTzF98AIUPu6i43NI9vexweogSNtLP+kQ4XtFmJKmTtNUqKZO+tzcX6jnFvGFhyuHP7m04k13jfOeLMixBOAQLuh60E5P2G9w3/des0oz6OHI8Ef6POKPhwXqlcZmU1HkL3sORXUJuBshkjGBOcsvtN82CARRCgLfrY8IA+0wYdDlzzCZFEwVn13ErZDFdSEm9pV6GyfmsYn/cUkYyGjP6m4veDxrwpljDHBMpR9IqLhsQVCYxu4MVWkzD/DnijSpspqdEc6HTPryDARcBUe1ya6/4a/OEC8AizT9ZeXOyQq8jKAbrldZfAe+AMWpHhgXe5uI7p3G0Qbfh7MwZaC0lC1lrZdwYxzcUN7RopDsUVKBF8KKC/DktPFpo3HTwdgMySA300ofBWabus63TefJDToeEVtiV7Oe2ou9hN+tMi4s/ogu52b2Su+yqisb3M8QGwQpBg==" />\r\n        <input type="hidden" name="today" id="today" value="20180622" />\r\n        <input type="hidden" name="sortBy" id="sortBy" />\r\n        <input type="hidden" name="selPartID" id="selPartID" />\r\n        <input type="hidden" name="alertMsg" id="alertMsg" />\r\n        <div id="pnlDisclaimer">\r\n\t\r\n            <table border="0" width="100%" cellspacing="0" cellpadding="0">\r\n                <tr>\r\n                    <td class="table_header">\r\n                        <table width="100%" border="0" cellpadding="0" cellspacing="0">\r\n                            <tr>\r\n                                <td width="8" align="left" valign="top">\r\n                                    <img src="../../image/spacer.gif" alt="" width="10" height="10" />\r\n                                </td>\r\n                                <td width="100%">\r\n                                    <table width="100%" border="0" cellpadding="5" cellspacing="0">\r\n                                        <tr>\r\n                                            <!-- page title label: CCASS shareholding information Search -->\r\n                                            <td nowrap="nowrap">\r\n                                                <span class="arial12black"><strong>\r\n                                                    中央結算系統持股紀錄查詢服務</strong></span>\r\n                                            </td>\r\n                                            <td style="text-align: right;" nowrap="nowrap" class="arial11black">\r\n                                                請注意本<a href="files/Disclaimer%20(C).doc"\r\n                                                    target="_blank">免責聲明</a>。\r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                            </tr>\r\n                        </table>\r\n                    </td>\r\n                </tr>\r\n                <tr>\r\n                    <td>\r\n                        <table width="100%" border="0" cellpadding="0" cellspacing="0">\r\n                            <tr>\r\n                                <td width="8" align="left" valign="top">\r\n                                    <img src="../../image/spacer.gif" alt="" width="10" height="10" />\r\n                                </td>\r\n                                <td width="100%">\r\n                                    <table width="100%" border="0" cellpadding="5" cellspacing="0">\r\n                                        <tr>\r\n                                            <!-- Explanatory note -->\r\n                                            <td>\r\n                                                <span class="arial12black">\r\n                                                    閣下可査詢過去十二個月的中央結算系統持股紀錄，按閣下選擇的股份及持股日期所顯示的資料乃中央結算系統參與者於該日日終的持股量。如果所選擇的持股日期是星期日或香港公共假期，則會顯示最後一個非星期日或香港公共假期的持股紀錄。\r\n<br/><br/>\r\n如欲查詢，請選擇持股日期及輸入股份代號或股份名稱；如欲查詢某指定中央結算系統參與者於某日持有某股份的數量，亦可一併輸入該中央結算系統參與者的編號或名稱。\r\n<br/><br/>\r\n閣下亦可透過 <A HREF=""mailto:psh@hkex.com.hk""><U>psh@hkex.com.hk</U></A> 遞交書面申請以索取過去七年的中央結算系統持股記錄，有關資料將會透過光碟或其他方式發放，並需收取費用。</span>\r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                            </tr>\r\n                            <tr>\r\n                                <td colspan="2" style="background-color: #000000; width: 100%; height: 1px; padding: 0px;"></td>\r\n                            </tr>\r\n                        </table>\r\n                    </td>\r\n                </tr>\r\n                <tr>\r\n                    <td></td>\r\n                </tr>\r\n            </table>\r\n        \r\n</div>\r\n        <div id="pnlSearch">\r\n\t\r\n            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_header">\r\n                <tr>\r\n                    <td height="8" align="left" valign="bottom" bgcolor="#FFFFFF">\r\n                        <!-- Outter Cells  -->\r\n                        <table width="100%" border="0" cellpadding="0" cellspacing="0">\r\n                            <tr>\r\n                                <!-- 1st blink row -->\r\n                                <td colspan="4" align="left" valign="top">\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                            </tr>\r\n                            <tr>\r\n                                <!-- Shareholding date -->\r\n                                <td align="left" valign="top">\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                                <td align="left">\r\n                                    <table border="0" cellspacing="0" cellpadding="5">\r\n                                        <tr>\r\n                                            <td style="text-align: right;" nowrap="nowrap" class="arial12black">\r\n                                                持股日期\r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                                <td width="100%" align="left" valign="top" nowrap="nowrap" class="arial12black">\r\n                                    <select name="ddlShareholdingDay" id="ddlShareholdingDay" class="arial12black">\r\n\t\t<option value="01">01</option>\r\n\t\t<option value="02">02</option>\r\n\t\t<option value="03">03</option>\r\n\t\t<option value="04">04</option>\r\n\t\t<option value="05">05</option>\r\n\t\t<option value="06">06</option>\r\n\t\t<option value="07">07</option>\r\n\t\t<option value="08">08</option>\r\n\t\t<option value="09">09</option>\r\n\t\t<option value="10">10</option>\r\n\t\t<option value="11">11</option>\r\n\t\t<option value="12">12</option>\r\n\t\t<option value="13">13</option>\r\n\t\t<option value="14">14</option>\r\n\t\t<option value="15">15</option>\r\n\t\t<option value="16">16</option>\r\n\t\t<option value="17">17</option>\r\n\t\t<option value="18">18</option>\r\n\t\t<option value="19">19</option>\r\n\t\t<option value="20">20</option>\r\n\t\t<option selected="selected" value="21">21</option>\r\n\t\t<option value="22">22</option>\r\n\t\t<option value="23">23</option>\r\n\t\t<option value="24">24</option>\r\n\t\t<option value="25">25</option>\r\n\t\t<option value="26">26</option>\r\n\t\t<option value="27">27</option>\r\n\t\t<option value="28">28</option>\r\n\t\t<option value="29">29</option>\r\n\t\t<option value="30">30</option>\r\n\t\t<option value="31">31</option>\r\n\r\n\t</select>\r\n                                    <select name="ddlShareholdingMonth" id="ddlShareholdingMonth" class="arial12black">\r\n\t\t<option value="01">01</option>\r\n\t\t<option value="02">02</option>\r\n\t\t<option value="03">03</option>\r\n\t\t<option value="04">04</option>\r\n\t\t<option value="05">05</option>\r\n\t\t<option selected="selected" value="06">06</option>\r\n\t\t<option value="07">07</option>\r\n\t\t<option value="08">08</option>\r\n\t\t<option value="09">09</option>\r\n\t\t<option value="10">10</option>\r\n\t\t<option value="11">11</option>\r\n\t\t<option value="12">12</option>\r\n\r\n\t</select>\r\n                                    <select name="ddlShareholdingYear" id="ddlShareholdingYear" class="arial12black">\r\n\t\t<option selected="selected" value="2018">2018</option>\r\n\t\t<option value="2017">2017</option>\r\n\r\n\t</select>\r\n                                </td>\r\n                                <td>\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                            </tr>\r\n                            <tr>\r\n                                <!-- stock code -->\r\n                                <td align="left" valign="top">\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                                <td align="left">\r\n                                    <table border="0" cellspacing="0" cellpadding="5">\r\n                                        <tr>\r\n                                            <td style="text-align: right;" nowrap="nowrap" class="arial12black">\r\n                                                股份代號\r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                                <td width="100%" align="left" valign="top">\r\n                                    <table border="0" cellspacing="0" cellpadding="2">\r\n                                        <tr>\r\n                                            <td nowrap="nowrap">\r\n                                                <input name="txtStockCode" type="text" value="91888" maxlength="5" id="txtStockCode" class="arial12black" size="10" />\r\n                                            </td>\r\n                                            <td nowrap="nowrap">\r\n                                                <a style="cursor: pointer;" onclick=\'Javascript:PopUpStockList();\'><span class="arial11grey"\r\n                                                    onmouseover=\'this.style.textDecoration="underline"\' onmouseout=\'this.style.textDecoration="none"\'>\r\n                                                    股份名單</span></a>\r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                                <td>\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                            </tr>\r\n                            <tr>\r\n                                <!-- Stock name -->\r\n                                <td align="left" valign="top">\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                                <td align="left">\r\n                                    <table border="0" cellspacing="0" cellpadding="5">\r\n                                        <tr>\r\n                                            <td style="text-align: right;" nowrap="nowrap" class="arial12black">\r\n                                                股份名稱\r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                                <td width="100%" align="left" valign="top">\r\n                                    <table border="0" cellspacing="0" cellpadding="2">\r\n                                        <tr>\r\n                                            <td nowrap="nowrap">\r\n                                                <input name="txtStockName" type="text" maxlength="80" id="txtStockName" class="arial12black" size="60" />\r\n                                                \r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                                <td>\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                            </tr>\r\n                            <tr>\r\n                                <!-- Partip. ID -->\r\n                                <td align="left" valign="top">\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                                <td align="left">\r\n                                    <table border="0" cellspacing="0" cellpadding="5">\r\n                                        <tr>\r\n                                            <td style="text-align: right;" nowrap="nowrap" class="arial12black">\r\n                                                中央結算系統參與者編號\r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                                <td width="100%" align="left" valign="top">\r\n                                    <table border="0" cellspacing="0" cellpadding="2">\r\n                                        <tr>\r\n                                            <td nowrap="nowrap">\r\n                                                <input name="txtParticipantID" type="text" maxlength="6" id="txtParticipantID" class="arial12black" size="10" />\r\n                                            </td>\r\n                                            <td nowrap="nowrap">\r\n                                                <a style="cursor: pointer;" onclick=\'Javascript:PopUpParticipantList();\'><span class="arial11grey"\r\n                                                    onmouseover=\'this.style.textDecoration="underline"\' onmouseout=\'this.style.textDecoration="none"\'>\r\n                                                    中央結算系統參與者名錄(中介人)</span></a>\r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                                <td>\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                            </tr>\r\n                            <tr>\r\n                                <!-- Partip. Name -->\r\n                                <td align="left" valign="top">\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                                <td align="left">\r\n                                    <table border="0" cellspacing="0" cellpadding="5">\r\n                                        <tr>\r\n                                            <td style="text-align: right;" nowrap="nowrap" class="arial12black">\r\n                                                中央結算系統參與者名稱\r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                                <td width="100%" align="left" valign="top">\r\n                                    <table border="0" cellspacing="0" cellpadding="2">\r\n                                        <tr>\r\n                                            <td nowrap="nowrap">\r\n                                                <input name="txtParticipantName" type="text" maxlength="80" id="txtParticipantName" class="arial12black" size="60" />\r\n                                                \r\n                                            </td>\r\n                                        </tr>\r\n                                    </table>\r\n                                </td>\r\n                                <td>\r\n                                    <img src="../../../image/spacer.gif" width="10" height="10" />\r\n                                </td>\r\n                 

In [9]:
soup=BeautifulSoup(r.content,'html.parser')

In [10]:
VIEWSTATE=soup.find(id="__VIEWSTATE")['value']
print(VIEWSTATE)

Ckzs+VaFUEDBzZtKQjL8H1DdOd0DKk5HSQ32/tzS8gH+TO1W2S8tjyZf6hmXM7avS2T/u2jdQlJ5D4T/t0hkQaQlfrd8hQKfLvJKZTYFV9m/kkOQVXsunk3uLA6HnJSrYgJAaXQdxh6mR7NrKIXPi+WK3sSA2FiV36I//ZNpgbyoOW6Cd6NncSNgKzmpxEciVxxErw==

In [11]:
VIEWSTATEGENERATOR=soup.find(id="__VIEWSTATEGENERATOR")['value']
print(VIEWSTATEGENERATOR)

3B50BBBD

In [12]:
EVENTVALIDATION=soup.find(id="__EVENTVALIDATION")['value']
print(EVENTVALIDATION)

EDddx7fxnrdp/107CfB06ZyVcpdsQh9RV/LJjPEi4kbot5/97UrfaR99PeyxiM0tTpGLNDIJOMduS3rr1uXADZL/I2jcKp2Sj3Mw4wy1o0XeVqPB+Ph1C8fhhgd8YsPk4GZnMDLxjMhsp29QaVP7k4kgI427pwByQ4jjfdTmtMVNMDW4Ip435K0JLZTw0EauEs7LL627OdvXycUt/qQDkxj3drqss2VFubwySNJUsGfq7+nJmfikzGY2kyzMkC21ZtlCTUZBRtI/eHCl1WLrI/PPw3gKGf98ZuCRX2Wkg4FPsclYQhpCJEVKstDgaTzvDjy2RovMl2XKnR+nasAkeJUtCjx3AV4icTybEjerLsC5bsaRh+bR9UwQim4oQgqgV7Y4dOlrMrW0xCJjAmXOAEQ/V2+5ur8+kcQDLxkD3OiVCSLeasSxnqujO0cjNpe+IkKom0hI+C/j8mN5K4u/e+b5O/SI+a9yuHJfm6ONpNNPmP2aqiW3Dx0diudOvUfsRFC1dS7RTejDbrDPhCiHsIYGJF6CodoqNBjJjAZAoe8Tjsmif4eUn3c/VWKDUC9b8ZjYfjmWEn3TIyhb7Oiq8tKsZtlVhqWh716Rpi5o1uFyztFtd7lBF9DsHh1dv0kGxDbksZj3pI/hgWy2k80vpVilcqaawVmNZqR+PPA/UT97dUANMB6njkPxbwP8p2xRTyQDWZB1z9XAbgBBlPtmdp2RZUH37OWrC44938bj0dJyG3YyRQ2VsdZfGWuU9vgC4S11UlVlqh/+1woZytJmPOgUUd2La1v3fOAmgOTr1AHvZjIUesJVmQPtYpNW6wuIWPIh8ybAg1Ph560omCqiZVswSANAvcJKMEhO3hCUhcapl4Bq1Sh5kCv4p2YCtTuP9i5HRbn/kfLnBhE+bfila3hbMp2roKj8kk0uKeASpfeXbnZgvIbr713fEUnTj9LjcTZ2WLJ0dvLE/xgoLNaoOQyx1wyPyh61Yur4Dkiha9FMqvEvET4fErlBidW2NNcZ36uS2G+UBZxf/aMnXKgnRdSOTIXwmb6dPb76zWKz7cJRIzAzpMndmY58oeH/qq0amhRS91IfEq7fqOY7OyJOmy5KAuczJN3JjxJA0rS43jwjk4d6G5nWr/zy7HrBmm+it1wRVhNXHymT+JsOxQqDt6rRdeFiIs/cY4I2Ycq6o8K4EHeQ/4QzL1jLw/2beUFEYhaV7wddOGAtY9F3u3PG2FX46gYBNkzWsb+QzUpfa1ckOBPsgIx/gbEAXwa/Dv5LyrJ6zQ==

In [13]:
login_data={
"__VIEWSTATE":VIEWSTATE,
"__VIEWSTATEGENERATOR":VIEWSTATEGENERATOR,
"__EVENTVALIDATION":EVENTVALIDATION,
"ddlShareholdingDay":'21',
"ddlShareholdingMonth":'06',
"ddlShareholdingYear":"2018",
'txtStockCode':'91888'
           }

In [14]:
r=s.post(URL, data=login_data)

In [16]:
print(r.url)

http://www.hkexnews.hk/sdw/search/searchsdw_c.aspx

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select

In [35]:
print(driver.find_element_by_id("content").text)

Here is some important text you want to retrieve!
A button to click!

In [31]:
driver.close()

In [4]:
browser = webdriver.Chrome()

In [13]:
browser.get("http://www.hkexnews.hk/sdw/search/searchsdw_c.aspx")

In [11]:
from selenium.webdriver.common.keys import Keys

In [15]:
element = browser.find_element_by_id("ddlShareholdingDay")

In [16]:
element.send_keys("15")

In [17]:
element

In [18]:
element = browser.find_element_by_xpath("//select[@name='ddlShareholdingDay']")

In [20]:
all_options = element.find_elements_by_tag_name("option")

In [31]:
browser.find_element_by_id("btnSearch").click()

In [35]:
html_txt = browser.page_source

In [36]:
soup = BeautifulSoup(html_txt,'html.parser')

In [37]:
first_part = get_first_part()
print(first_part)

{'last_date': '2018-06-20', 'stock_code': '91888', 'stock_name': '中國國旅'}

In [40]:
browser.get("http://www.hkexnews.hk/sdw/search/searchsdw_c.aspx")

In [43]:
browser.back()

In [83]:
browser = webdriver.Chrome()
browser.get("http://www.hkexnews.hk/sdw/search/searchsdw_c.aspx")

In [6]:
browser.get("http://www.hkexnews.hk/sdw/search/searchsdw_c.aspx")

In [9]:
begin_date = '2018-06-01'
end_date = '2018-06-20'

In [88]:
i[8:10]

'20'

In [92]:
temp5 = temp4[-10:-1]

In [93]:
temp5

10031    2018-06-06
10032    2018-06-07
10033    2018-06-08
10036    2018-06-11
10037    2018-06-12
10038    2018-06-13
10039    2018-06-14
10040    2018-06-15
10044    2018-06-19
Name: calendarDate, dtype: object

In [8]:
temp_time = '2018-06-20'

In [15]:
for temp_time in trade_cal:
    
    select = Select(browser.find_element_by_name('ddlShareholdingMonth'))
    select.select_by_value(temp_time[5:7])

    select = Select(browser.find_element_by_name('ddlShareholdingDay'))
    select.select_by_value(temp_time[8:10])

    select = Select(browser.find_element_by_name('ddlShareholdingYear'))
    select.select_by_value(temp_time[0:4])

    element = browser.find_element_by_id("txtStockCode")
    element.send_keys("91888")

    browser.find_element_by_id("btnSearch").click()

    html_txt = browser.page_source

    soup = BeautifulSoup(html_txt,'html.parser')
    
    print(get_first_part())

    browser.back()

{'last_date': '2018-06-01', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-04', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-05', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-06', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-07', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-08', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-11', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-12', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-13', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-14', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-15', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-19', 'stock_code': '91888', 'stock_name': '中國國旅'}
{'last_date': '2018-06-20', 'stock_code': '91888', 'stock_name': '中國國旅'}

In [11]:
import tushare as ts

In [12]:
temp = ts.trade_cal()

In [104]:
begin_date = '2018-01-01'
end_date = '2018-06-20'

In [98]:
s1 = '20180612'

In [13]:
    trade_cal = temp
    trade_cal = trade_cal[trade_cal['calendarDate'] >= begin_date]
    trade_cal = trade_cal[trade_cal['calendarDate'] <= end_date]
    trade_cal = trade_cal[trade_cal['isOpen'] == 1]
    trade_cal = trade_cal['calendarDate']

In [14]:
trade_cal

10026    2018-06-01
10029    2018-06-04
10030    2018-06-05
10031    2018-06-06
10032    2018-06-07
10033    2018-06-08
10036    2018-06-11
10037    2018-06-12
10038    2018-06-13
10039    2018-06-14
10040    2018-06-15
10044    2018-06-19
10045    2018-06-20
Name: calendarDate, dtype: object

In [101]:
s1[6:8]

'12'

In [61]:
temp2 = temp1[temp1['calendarDate'] <= end_date]

In [63]:
temp3 = temp2[temp2['isOpen'] == 1]

In [67]:
temp4=temp3['calendarDate']

In [75]:
time1 = temp4.iat[0]

In [76]:
import datetime

In [77]:
time2 = datetime.datetime.strptime(time1,'%Y-%m-%d')

In [82]:
for i in temp4:
    print(i)

2017-01-03
2017-01-04
2017-01-05
2017-01-06
2017-01-09
2017-01-10
2017-01-11
2017-01-12
2017-01-13
2017-01-16
2017-01-17
2017-01-18
2017-01-19
2017-01-20
2017-01-23
2017-01-24
2017-01-25
2017-01-26
2017-02-03
2017-02-06
2017-02-07
2017-02-08
2017-02-09
2017-02-10
2017-02-13
2017-02-14
2017-02-15
2017-02-16
2017-02-17
2017-02-20
2017-02-21
2017-02-22
2017-02-23
2017-02-24
2017-02-27
2017-02-28
2017-03-01
2017-03-02
2017-03-03
2017-03-06
2017-03-07
2017-03-08
2017-03-09
2017-03-10
2017-03-13
2017-03-14
2017-03-15
2017-03-16
2017-03-17
2017-03-20
2017-03-21
2017-03-22
2017-03-23
2017-03-24
2017-03-27
2017-03-28
2017-03-29
2017-03-30
2017-03-31
2017-04-05
2017-04-06
2017-04-07
2017-04-10
2017-04-11
2017-04-12
2017-04-13
2017-04-14
2017-04-17
2017-04-18
2017-04-19
2017-04-20
2017-04-21
2017-04-24
2017-04-25
2017-04-26
2017-04-27
2017-04-28
2017-05-02
2017-05-03
2017-05-04
2017-05-05
2017-05-08
2017-05-09
2017-05-10
2017-05-11
2017-05-12
2017-05-15
2017-05-16
2017-05-17
2017-05-18
2017-05-19
2017-05-22
2017-05-23
2017-05-24
2017-05-25
2017-05-26
2017-05-31
2017-06-01
2017-06-02
2017-06-05
2017-06-06
2017-06-07
2017-06-08
2017-06-09
2017-06-12
2017-06-13
2017-06-14
2017-06-15
2017-06-16
2017-06-19
2017-06-20
2017-06-21
2017-06-22
2017-06-23
2017-06-26
2017-06-27
2017-06-28
2017-06-29
2017-06-30
2017-07-03
2017-07-04
2017-07-05
2017-07-06
2017-07-07
2017-07-10
2017-07-11
2017-07-12
2017-07-13
2017-07-14
2017-07-17
2017-07-18
2017-07-19
2017-07-20
2017-07-21
2017-07-24
2017-07-25
2017-07-26
2017-07-27
2017-07-28
2017-07-31
2017-08-01
2017-08-02
2017-08-03
2017-08-04
2017-08-07
2017-08-08
2017-08-09
2017-08-10
2017-08-11
2017-08-14
2017-08-15
2017-08-16
2017-08-17
2017-08-18
2017-08-21
2017-08-22
2017-08-23
2017-08-24
2017-08-25
2017-08-28
2017-08-29
2017-08-30
2017-08-31
2017-09-01
2017-09-04
2017-09-05
2017-09-06
2017-09-07
2017-09-08
2017-09-11
2017-09-12
2017-09-13
2017-09-14
2017-09-15
2017-09-18
2017-09-19
2017-09-20
2017-09-21
2017-09-22
2017-09-25
2017-09-26
2017-09-27
2017-09-28
2017-09-29
2017-10-09
2017-10-10
2017-10-11
2017-10-12
2017-10-13
2017-10-16
2017-10-17
2017-10-18
2017-10-19
2017-10-20
2017-10-23
2017-10-24
2017-10-25
2017-10-26
2017-10-27
2017-10-30
2017-10-31
2017-11-01
2017-11-02
2017-11-03
2017-11-06
2017-11-07
2017-11-08
2017-11-09
2017-11-10
2017-11-13
2017-11-14
2017-11-15
2017-11-16
2017-11-17
2017-11-20
2017-11-21
2017-11-22
2017-11-23
2017-11-24
2017-11-27
2017-11-28
2017-11-29
2017-11-30
2017-12-01
2017-12-04
2017-12-05
2017-12-06
2017-12-07
2017-12-08
2017-12-11
2017-12-12
2017-12-13
2017-12-14
2017-12-15
2017-12-18
2017-12-19
2017-12-20
2017-12-21
2017-12-22
2017-12-25
2017-12-26
2017-12-27
2017-12-28
2017-12-29
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-08
2018-01-09
2018-01-10
2018-01-11
2018-01-12
2018-01-15
2018-01-16
2018-01-17
2018-01-18
2018-01-19
2018-01-22
2018-01-23
2018-01-24
2018-01-25
2018-01-26
2018-01-29
2018-01-30
2018-01-31
2018-02-01
2018-02-02
2018-02-05
2018-02-06
2018-02-07
2018-02-08
2018-02-09
2018-02-12
2018-02-13
2018-02-14
2018-02-22
2018-02-23
2018-02-26
2018-02-27
2018-02-28
2018-03-01
2018-03-02
2018-03-05
2018-03-06
2018-03-07
2018-03-08
2018-03-09
2018-03-12
2018-03-13
2018-03-14
2018-03-15
2018-03-16
2018-03-19
2018-03-20
2018-03-21
2018-03-22
2018-03-23
2018-03-26
2018-03-27
2018-03-28
2018-03-29
2018-03-30
2018-04-02
2018-04-03
2018-04-04
2018-04-09
2018-04-10
2018-04-11
2018-04-12
2018-04-13
2018-04-16
2018-04-17
2018-04-18
2018-04-19
2018-04-20
2018-04-23
2018-04-24
2018-04-25
2018-04-26
2018-04-27
2018-05-02
2018-05-03
2018-05-04
2018-05-07
2018-05-08
2018-05-09
2018-05-10
2018-05-11
2018-05-14
2018-05-15
2018-05-16
2018-05-17
2018-05-18
2018-05-21
2018-05-22
2018-05-23
2018-05-24
2018-05-25
2018-05-28
2018-05-29
2018-05-30
2018-05-31
2018-06-01
2018-06-04
2018-06-05
2018-06-06
2018-06-07
2018-06-08
2018-06-11
2018-06-12
2018-06-13
2018-06-14
2018-06-15
2018-06-19
2018-06-20